{
  "version": 1,
  "minor_version": 3,
  "key": "core.config",
  "data": {
    "latitude": 36.94919728218927,
    "longitude": -3.5565769672393803,
    "elevation": 99,
    "unit_system_v2": "metric",
    "location_name": "Casa",
    "time_zone": "Europe/Madrid",
    "external_url": null,
    "internal_url": null,
    "currency": "EUR",
    "country": "ES",
    "language": "es"
  }
}