[Unit] 
Description=Home Assistant
After=network-online.target

[Service]
Type=simple
User=homeassistant
WorkingDirectory=/home/homeassistant/ha_config
ExecStart=/home/homeassistant/core/venv/bin/hass -c "/home/homeassistant/ha_config"
RestartForceExitStatus=100
Restart=on-failure
RestartSec=5
StandardOutput=journal
StandardError=journal+console

[Install]
WantedBy=multi-user.target

