{
  "version": 1,
  "minor_version": 3,
  "key": "core.config",
  "data": {
    "latitude": 36.94941163721342,
    "longitude": -3.5566520690917973,
    "elevation": 300,
    "unit_system_v2": "metric",
    "location_name": "Casa",
    "time_zone": "Europe/Madrid",
    "external_url": null,
    "internal_url": null,
    "currency": "EUR",
    "country": "ES",
    "language": "es"
  }
}